$primaryColour: #424874
$SecondaryColour: #a6b1e1
    
body




    // ID ELEMENTS

#side-nav
    height: 100%
    width: 60px
    position: fixed
    z-index: 1
    top: 0
    left: 0
    background-color: $primaryColour
    ul
        text-align: center
        padding-left: 0px
        li
            list-style: none    
            padding: 20px 2px 0 2px         
    .nav-item
        padding: 0 0 0 0
        text-decoration: none
    .bottom-item
        float: bottom

        

